<a href="https://colab.research.google.com/github/OscarRosales/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 3
### Variables
tipo dinámico
escuela= "FES ARAGÓN"

In [2]:
escuela = "FES ARAGÓN"
print (escuela)
print ("-------")
edad = 13
estatura = 1.67
fumador = True 
frase = """
esta es 
una 
frase de multiples líneas 
y tambien es 
un tipo de dato
"""
print (frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

FES ARAGÓN
-------

esta es
una
frase de multiples líneas
y tambien es
un tipo de dato

#Print
con comas , 
con signo más +
con format ()
con el operador f " "

In [3]:
print (nombre,edad)

jose 13

In [4]:
# + concatena
print (nombre + str (edad))
print(nombre + nombre_completo)

jose13
josejose sosa cardenas

In [8]:
# con formato _> Su nombre Jose y su edad es de 13 años.
print ("Su nombre es", nombre,"y su edad es de", edad, "años." )
print("Su nombre es {0} y su edad es de {1} años." .format(nombre, edad))
print("Su nombre es {1} y su edad es de {0} años." .format(nombre, edad))

Su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [9]:
# con formato con el operador f"""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

# Caracter de escape
\n salto de linea

\t tabulador

\a beep

\\"imprimir comilla doble

\\"imprimir comilla simple

In [10]:
"""
Esto es 
un comentario 
de multiple linea
tan tan
"""
print(f"\tMi nombre es\n\t\t{nombre}")

	Mi nombre es
		jose

#Ayudas de tipos de datos en python
dir ()
help ()

In [ ]:
#str, int, float, bool ... list, dict, set
dir (str)
help (str)

In [17]:
print(nombre_completo.capitalize() ) 
print(nombre_completo.upper() , end="-----") 
print(nombre_completo.title() )

Jose sosa cardenas
JOSE SOSA CARDENAS-----Jose Sosa Cardenas

In [ ]:
help (print)

#Clase String
Es manejada como un arreglo (c o java) o lista (python)
telefono = "Huawei mate 30 pro"

In [22]:
telefono = "Huawei mate 30 pro"
print ( telefono [5])

i

#Slicing (rebanado)
[ini:stop:incremento] nota:: el stop no se incluye, termina en el valor anterior al stop

In [28]:
print (telefono[7:11:1])
#el inicio y el incremento son opcionales 
print (telefono[:11:])
#el valor por defectode stop es len(str)
print(telefono[::])
#incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])
#slacing negativo
ini= -3
inc =1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#métodos de string (str)
existen metodos muy útiles en esta clase.

In [46]:
facultad ="    facultad de estudios superiores aragon      \n"
print(facultad.count("u"))#cuenta el numero de elementos en la cadena
print(facultad.find("s"))#encuentra el elemento de la cadena
print(facultad.strip())
tamaño=len(facultad)
print(len(facultad))
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(" "))

print("------")
#copiar cadena
otra_cadena = facultad
print(otra_cadena)
otra_cadena= "FES ARAGON"
print(facultad)
print(otra_cadena)
una_mas=facultad

#copiar listas
colores=["rojo","verde"]
otra= colores.copy ()
print (colores)
print (otra)
otra.append("rosa")
print(colores)
print(otra)

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['facultad', 'de', 'estudios', 'superiores', 'aragon']
------
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES ARAGON
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']