<a href="https://colab.research.google.com/github/OscarRosales/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#String continuación 

frase= "Si funciona... ¡no lo compongas!"
numeros_txt = "  1,2,3,4,  5, 35, 15, 12 "
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range (len(numeros_txt)):
  numeros_txt[ j ]=int (numeros_txt[j].strip())
print (numeros_txt)
 
#funcion range ()
#range (inicio, stop, incremento)
print(range(1,10,3))
rango = range(1,10,2)
for x in rango:
  print(x)
rango= range(10)
for x in rango:
  print(x)

  1,2,3,4,  5, 35, 15, 12
['1', '2', '3', '4', '  5', ' 35', ' 15', ' 12 ']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# Listas
- mutables
- declaran con [ ]
- slector [ int ]


# Tuplas
- NO mutables
- declaran vcon ( )
- selector [ int ]

# Diccionarios
- Son mutables
- son conjunto de pares llave:valor
-equivalentes a los objetos JSON de Java

# Conjuntos
- representacion de la teoria de conjuntos

In [24]:
#listas 
frutas= ["Pera", "Manzana", "Fresa", "Kiwi", "Naranja"]
print(frutas)
cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print (cosas)
frutas[2]="Fresa" #frutas[2]=frutas[2].capitalize()
print(frutas)
#agregar a la lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2,"sandia")
print(frutas)

#concatenar listas
fecha= ["06", "10", "2020"] #06/10/2020
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

#eliminar elementos
print(cosas)
cosas.append("Libro")
cosas.append("Lápiz")
print(cosas)
algo= cosas.pop()
print(cosas)
algo= cosas.pop(2)
print(cosas)
print(algo)

#vaciar una lista
#cosas.clear ()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
print(frutas)

['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lápiz']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
['Pera', 'Manzana', 'sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'sandia']

In [38]:
#Slicing

cosas = ["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:])

#sustituir rebanadas -2,-2 ->[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
numeros[8:13:]=[-2,-2]
print(numeros)

#preguntar por existencia
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
False

#Listas multidimensión
Listas dentro de listas

In [48]:
computadoras=["HP", "Mac Book Pro 17", "Mate Book", "Lenovo Legion"]
oss = ["windows 10", "Linux", "Androi","iOS"]

computo=[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])
dbms = [["Mysql", "Open Source", False], ["MS Ql Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['windows 10', 'Linux', 'Androi', 'iOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['windows 10', 'Linux', 'Androi', 'iOS'], [['Mysql', 'Open Source', False], ['MS Ql Server', 'de paga', True]]]
Mysql
de paga